<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Edit Product</h1>
<form th:action="@{/products/edit/{id}(id=${product.id})}" method="post">
    <input type="hidden" name="id" th:value="${product.id}"/>
    <p>Name: <input type="text" name="name" th:value="${product.name}" required/></p>
    <p>Price: <input type="text" name="price" th:value="${product.price}" required/></p>
    <p>Category:
        <select name="categoryId" required>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == product.category.id}"></option>
        </select>
    </p>
    <p><input type="submit" value="Update Product"/></p>
</form>
</body>
</html>
