<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Products</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Product List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category ID</th>

    <th>Tags</th>
    <th>Action</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}">ID</td>
    <td th:text="${product.name}">Name</td>
    <td th:text="${product.price}">Price</td>
    <!-- Corrected line below -->
    <td th:text="${product.category.id}">Category ID</td>

    <td>
      <span th:each="tag : ${product.tags}" th:text="${tag.name}"></span> <!-- Display tags -->
    </td>
    <td>
      <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a> |
      <a th:href="@{/products/delete/{id}(id=${product.id})}" onclick="return confirm('Are you sure you want to delete this product?');">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

<form action="#" th:action="@{/products}" method="post">
  <p>Name: <input type="text" name="name" required/></p>
  <p>Price: <input type="text" name="price" required/></p>
  <p>Category:
    <label>
      <select name="categoryId" required>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
      </select>

    </label>
  </p>
  <p><input type="submit" value="Add Product"/></p>
</form>

<div th:if="${error}" th:text="${error}" class="error"></div>
</body>
</html>